@{
    ViewData["Title"] = "Home Page";
}

<div class="modal fade" id="modalInfoPais" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img id="modalInfoPaisLogo" src="">
        <h5 class="modal-title" id="modalInfoPaisTit"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalInfoPaisBody">
      </div>
    </div>
  </div>
</div>

<body onload="CargarImgCard()">
  <div class="d-flex">
      <div class="container-fluid mx-auto">
              <div class="row">
                  @foreach (Track t in @ViewBag.tracks)
                  {
                      <div class="col-auto pb-4">
                          <div class="card" style="width: 18rem;">
                              <img id=@t.ubicacion.country class="card-img-top" alt="Este track no tiene imagen de portada">
                              <div class="card-body">
                                  <h5 class="card-title">@t.nombre</h5>
                                  <a href='@Url.Action("VerDetalleTrack", "Home", new {IdEquipo = @t.id})' class="btn btn-primary">Tiempos</a>
                                  <button class="btn btn-primary" onclick="CargarModalTrack(@t.id)" data-bs-toggle="modal" data-bs-target="modalInfoPais">Info</button>
                              </div>
                          </div>
                      </div>
                  }
              </div>
          </div>
  </div>
</body>