<p> GP de @ViewBag.carreras[@ViewBag.carreras.Count - 1].track.nombre en el cual se corrio por ultima vez el
    @ViewBag.carreras[@ViewBag.carreras.Count - 1].raceName en @ViewBag.Carreras[@ViewBag.carreras.Count - 1].fecha </p>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">No</th>
            <th scope="col">Piloto</th>
            <th scope="col">Constructor</th>
            <th scope="col">Vueltas</th>
            <th scope="col">Parrilla</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Vuelta mas rapida</th>
            <th scope="col">Puntos</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Resultado r in @ViewBag.carreras[@ViewBag.carreras.Count - 1].resultados)
        {
            <tr>
                <th scope="row">@r.posicionFinal</th>
                <td>@r.numeroConductor</td>
                <td>@(r.conductor.Nombre + " " + r.conductor.Apellido)</td>
                <td>@r.constructor.Nombre</td>
                <td>@r.vueltas</td>
                <td>@r.posicionParrilla</td>
                @if(r.tiempo != null){
                    <td>@r.tiempo.tiempo</td>
                }else{
                    <td>@r.estado</td>
                }
                @if(r.vueltaRapida == null){
                    <td>-</td>
                }else{
                    <td>@r.vueltaRapida.tiempo.tiempo</td>
                }
                <td>@r.puntaje</td>
            </tr>
        }
    </tbody>
</table>